<h1>選手一覧</h1>
<table class="table table-striped">
    <tr>
        <th>名前</th>
        <th>ポジション</th>
    </tr>
    <% @user.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.position %></td>
    </tr>
    <% end %>
</table>
  <%= link_to "戻る", firststep_path, class: "btn btn-secondary" %>