<h1>動画一覧</h1>
<% @videos.each do |video| %>
    <p><%= video.title %></p> <br>
    <p><%= video.introduction %></p> <br>
    <% p video%>
    <% p video.video%>
    <%= link_to "動画", rails_blob_path(video.video) %>
<% end %>